*{
  margin: 0 0 0 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  position: relative;
  width: 320px;
  height: 580px;
  margin-top: 10px;
  background-color: #1B1A1A;
  border-radius:9px;
  overflow: hidden;
  
}

.buttons{
  margin-left: 6px;
}


.button{
  font-size: 20px;
  height: 70px;
  width: 70px;
  border: none;
  background-color: dimgray;
  border-radius: 50px;
  margin:2px;
  margin-top: 10px;
}


input{
  outline: none;
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 20px;
  height: 100px;
  width: 100%;
  background-color: #1B1A1A;
  border: none;
  color: #DFDFDF;
  text-align: right;
  position: relative;
  right: 10px;
}


.btn-eql{
  width: 130px;
  background-color: white;
  margin-left: 10px;
}